.tab-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.tab-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.tab-buttons .active {
  background-color: #3baae3;
  color: white;
  border-color: #3baae3;
}

.tab-content {
  display: flex;
  justify-content: center;
  padding: 20px;
}
@media (min-width: 769px) {
  .tab-buttons {
    overflow: visible;
    white-space: normal;
  }
  .tab-buttons button {
    flex: 0 1 auto;
    white-space: normal;
  }
}
@media (max-width: 768px) {
  .tab-buttons {
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    justify-content: center; 
    -webkit-overflow-scrolling: touch; 
  }

  .tab-buttons::-webkit-scrollbar {
    display: none;
  }
  .tab-buttons {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
  .tab-buttons button {
    scroll-snap-align: start;
    flex: 0 0 auto;
    white-space: nowrap;
  }
}

.tab-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab-buttons .active {
  background-color: #3baae3;
  color: white;
  border-color: #3baae3;
}

.tab-content {
  display: flex;
  justify-content: center;
  padding: 20px;
}