.ptz-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 1rem;
}

.ptz-content h2 {
      font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: unset !important;
    color: #196793;
}

.ptz-content p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0 auto;
  color: #444;
}
